<!--doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Esperanto</title>
    <link href="css/flat-ui.css" rel="stylesheet">
</head>
<body>
  <ul class="rooms">
    {{#each rooms}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
  <ul id="messages"></ul>

<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
  <select class="languages" name="lang">

    {{#each langs}}
      <option value="{{language}}">{{name}}</option>
    {{/each}}

  </select>
</form>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="/js/base.js"></script>

</body>
</html-->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Esperanto</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/esperanto.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  </head>
  <body style="font-family:Verdana">
    <div class="container">
      <div class="row " style="padding-top:40px;">
      <h1 class="text-center">ESPERANTO</h1>        
      <br /><br />
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Conversations
            </div>
            <div class="panel-body">
              <ul class="media-list">
                {{#each rooms}}
                <li class="media conversation" data-id="{{id}}" data-usr="{{name}}">
                  <div class="media-body">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object img-circle" style="max-height:40px;" src="/assets/default-icon.png" />
                      </a>
                      <div class="media-body" >
                        <h5>{{name}}</h5>
                      </div>
                    </div>
                  </div>
                </li>
                {{/each}}

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              Conversation with Moshe
            </div>
            <div class="panel-body">
              <ul class="media-list">

                <li class="media">

                  <div class="media-body">

                    <div id="room" class="media"></div>

                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
              <form id="message" action="" class="input-group">
                <input type="text" id="m" class="form-control" placeholder="Enter Message" />
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button">SEND</button>
                </span>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <script type="text/javascript">
      window.user = {
        'username' : '{{user.username}}',
        'prefLang': '{{user.pl}}'
      };
    </script>

    <script id="bubble" type="text/x-handlebars-template">
      <div class="media-body" >
        \{{text}}
        <br />
        <small class="text-muted">\{{author}} | \{{date}}</small>
        <hr />
      </div>
    </script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/esperanto.js"></script>
  </body>
</html>
