<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Esperanto</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/esperanto.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <style>
    #main-convo{
      overflow: auto;
      max-height: 50vh;
      height: 1000px;
    }
    </style>
  </head>
  <body style="font-family:Verdana">
    <div class="container">
      <div class="row " style="padding-top:40px;">
      <h1 class="text-center">ESPERANTO</h1>
      <input type="button" value="switch" id="switch"/>
      <script>
        $('#switch').click(function(){
          display = $(".translated-text").css("display");
          console.log(display);
          if(display === "inline"){
            $(".translated-text").css({"display": "none"});
            $(".source-language").css({"display": "initial"});
          }else if(display === "none"){
            $(".translated-text").css({"display": "initial"});
            $(".source-language").css({"display": "none"});
          }
        });

      </script>
      <br /><br />
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Conversations
            </div>
            <div class="panel-body">
              <ul class="media-list">
                {{#each rooms}}
                <li class="media conversation"  data-id="{{id}}" data-usr="{{name}}" data-lang="{{lang}}">
                  <div class="media-body">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object img-circle" style="max-height:40px;" src="/assets/default-icon.png" />
                      </a>
                      <div class="media-body" >
                        <h5>{{name}}</h5>
                      </div>
                    </div>
                  </div>
                </li>
                {{/each}}

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-info" id="main-convo">
            <div class="panel-heading" id="conversation-with">

            </div>
            <div class="panel-body">
              <ul class="media-list">

                <li class="media">

                  <div class="media-body">

                    <div id="room" class="media"></div>

                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
              <form id="message" action="" class="input-group">
                <input type="text" autocomplete="off" id="m" class="form-control" placeholder="Enter Message" />
                <span class="input-group-btn">
                  <input class="btn btn-info" type="submit" value="SEND" />
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul id="notifications" style="position:fixed;display:block;list-style:none;max-width:250px;right: 10px;bottom: 10px;padding: 0;margin: 0;"></ul>
    <script type="text/javascript">
      window.user = {
        'username' : '{{user.username}}',
        'prefLang': '{{user.pl}}'
      };
    </script>

    <script id="bubble" type="text/x-handlebars-template">
      <div class="media-body"  style="float: left;">
        <span class="translated-text" style="display: initial">\{{text}}</span>
        <span class="source-language" style="display: none">\{{source_lang}}</span>
        <br />
        <small class="text-muted">\{{author}} | \{{date}}</small>
        <hr />
      </div>
    </script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/esperanto.js"></script>
  </body>
</html>
